{% extends '::base.html.twig' %}


{% block bl1 %}
    <nav>
        <ul class="pager">
            <li class="previous"><a href="#"><span class="glyphicon glyphicon-arrow-left">Общие настройки</span></a></li>
            <li class="next"><a href="#">Настройки этапов </a></li>
        </ul>
    </nav>

    <div class="widget">
        <div class="widget-head">
            <h4>Редактирование списка команд</h4>
        </div>
        <div class="widget-body">

            <h5>Добавить команду</h5>


            <div id="country_div">
                <input id="adminunit" type="text" class="form-control" placeholder="Фильтр команд">
                {{ form_start(form, {'action': path('moi_kubki_football_editteams', {'id':1})}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <hr>

            <input id="myfilter" type="text" class="form-control" placeholder="Фильтр команд">

            <div id="teams_list" class="table-responsive" value="{{ id }}">
                {{ render(controller(
                'MoiKubkiFootballBundle:Tournament:getTeamsFromTournament',{'id': id}
                )) }}
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    {{ parent() }}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&language=ru"></script>
    <script src="{{ asset('js/jquery.geocomplete.min.js') }}"></script>
    <script src="{{ asset('js/my.js') }}"></script>


{% endblock scripts %}