{% extends '::base.html.twig' %}

{% block page_title %} Редактор: {{ tournament.name }} {% endblock %}

{% block bl1 %}
    <nav>
        <ul class="pager">
            <li class="previous"><a href="{{ path('moi_kubki_football_editteams',{'id':id}) }}"><span class="glyphicon glyphicon-arrow-left">Список команд</span></a></li>
            <li class="next"><a href="#">Настройка групп </a></li>
        </ul>
    </nav>

    <div class="widget">
        <div class="widget-head">
            <h4>Редактирование этапов</h4>
        </div>
        <div class="widget-body">

            <h5>Этапы турнира</h5>

            <div id="country_div">

                {{ render(controller(
                'MoiKubkiFootballBundle:Tournament:addTeam'
                )) }}

                <input type="hidden" name="_token" value="{{ csrf_token(tournament_token) }}">

                <button id="createTeam" class="btn btn-block">Добавить команду</button>

                <hr>
               <h5>Зарегистрированные команды</h5>

            <input id="myfilter" type="text" class="form-control" placeholder="Фильтр команд">

            <div id="teams_list" class="table-responsive" value="{{ id }}">
                {{ render(controller(
                'MoiKubkiFootballBundle:Tournament:getTeamsFromTournament',{'id': id}
                )) }}
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    {{ parent() }}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&language=ru"></script>
    <script src="{{ asset('js/jquery.geocomplete.min.js') }}"></script>
    <script src="{{ asset('js/my.js') }}"></script>


{% endblock scripts %}