{% extends '::base.html.twig' %}

{% block page_title %} Редактор: {{ tournament.name }} {% endblock %}

{% block bl1 %}
    <nav>
        <ul class="pager">
            <li class="previous"><a href="{{ path('moi_kubki_football_editteams',{'id':id}) }}"><span class="glyphicon glyphicon-arrow-left">Список команд</span></a></li>
            <li class="next"><a href="#">Настройка групп </a></li>
        </ul>
    </nav>

    <div class="widget">
        <div class="widget-head">
            <h4>Редактирование этапов</h4>
        </div>
        <div class="widget-body">

            <h5>Этапы турнира</h5>

            <div id="stage_div" value="{{ id }}">

                {{ include ('MoiKubkiFootballBundle:Tournament:getStagesFromTournament.html.twig', {'stages': stages}) }}

            </div>

            <form method="post" action="" id="stage_form">
                {{ form_widget(form) }}
                <input type="button" id="createStage" name="sdfsd">

            </form>

    </div>

{% endblock %}

{% block scripts %}

    {{ parent() }}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&language=ru"></script>
    <script src="{{ asset('js/jquery.geocomplete.min.js') }}"></script>
    <script src="{{ asset('js/my.js') }}"></script>


{% endblock scripts %}