{% block settings_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="col-md-6 col-sm-6 col-xs-6">
                    {{ form_label(child) }}
                    {{ form_widget(child) }}
                    {{ form_errors(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}



{% block widget_attributes -%}
    id="{{ id }}"
    {% if short_name %}
        name="{{ name }}"
    {% else %}
        name="{{ full_name }}"
    {% endif %}
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes %}


